Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Werkzeug==3.0.1
python-dotenv==1.0.0
bcrypt==4.1.2
PyJWT==2.8.0
email-validator==2.1.0.post1
Pillow==10.0.0
requests==2.31.0
mysql-connector-python==8.2.0
fpdf==1.7.2